nav {
  z-index: 1000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  z-index: 500;
}
  main * {
    width: 100%;
  }

.example-text, .example-text * {
  width: 100%;
  max-width: 800px;
  padding-bottom: 2rem;
}

/* Media queries */

/* Small */
@media only screen and (max-width: 700px) {
  main {
    width: 100%;
    max-height: calc(100% - 4rem);
  }
}

/* Large */
@media only screen and (min-width: 700px) {
  main {
    height: 100%;
    width: calc(100% - 4rem);
    max-height: 100%;
    margin-left: 4rem;
  }
}
