<div class="portfolio container">

  <nav>
    <drk-navbar
      (scroll)="scroll($event)">
    </drk-navbar>
  </nav>

  <main>

    <section class="landing-container" #top>
      <app-landing></app-landing>
    </section>

    <section class="projects-container" #projects>

      <div class="project">
        <app-project
          title="LTC Worx"
          imagePath="assets/img/worx_screenshot.png"
          [technologies]="[ 'angular', 'material', 'redux' ]">
          <p>
            Worx is a Business to Business <b>Project managment application</b>, providing a unique way of managing workflows in a variety of scenarios.
            My role in this project has been to produce modern and professional Web based portals for users to interact with Worx.
          </p>
          <p>
            Producing 2 portals that provide data and actions that user can perform, for Clients and Suppliers.
            These portals have been built using <b>Angular</b> and an API that was built by another Development team to connect with the Worx application.
          </p>
          <p>
            Developement on Worx as allowed me to work with a <b>large professional team</b> of front-end developers, back-end developers, application developers and QA.
          </p>
          <p>
            The Worx portals are still <b>in-developement</b>.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="AlphaCRC"
          projectUrl="https://www.alphacrc.com/"
          imagePath="assets/img/alphacrc_screenshot.png"
          [technologies]="[ 'wordpress', 'elementor' ]">
          <p>
            Worx is a Business to Business <b>Project managment application</b>, providing a unique way of managing workflows in a variety of scenarios.
            My role in this project has been to produce modern and professional Web based portals for users to interact with Worx.
          </p>
          <p>
            Producing 2 portals that provide data and actions that user can perform, for Clients and Suppliers.
            These portals have been built using <b>Angular</b> and an API that was built by another Development team to connect with the Worx application.
          </p>
          <p>
            Developement on Worx as allowed me to work with a <b>large professional team</b> of front-end developers, back-end developers, application developers and QA.
          </p>
          <p>
            The Worx portals are still <b>in-developement</b>.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="JandJLandscapes"
          projectUrl="https://www.jandjlandscapes.co.uk/"
          imagePath="assets/img/jandj_screenshot.png"
          [technologies]="[ 'wordpress', 'elementor' ]">
          <p>
            Worx is a Business to Business <b>Project managment application</b>, providing a unique way of managing workflows in a variety of scenarios.
            My role in this project has been to produce modern and professional Web based portals for users to interact with Worx.
          </p>
          <p>
            Producing 2 portals that provide data and actions that user can perform, for Clients and Suppliers.
            These portals have been built using <b>Angular</b> and an API that was built by another Development team to connect with the Worx application.
          </p>
          <p>
            Developement on Worx as allowed me to work with a <b>large professional team</b> of front-end developers, back-end developers, application developers and QA.
          </p>
          <p>
            The Worx portals are still <b>in-developement</b>.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="ng-tilt-container"
          projectUrl="https://www.npmjs.com/package/ng-tilt-container"
          imagePath="assets/img/ngtilt.gif"
          [technologies]="[ 'angular', 'npm' ]">
          <p>
            Worx is a Business to Business <b>Project managment application</b>, providing a unique way of managing workflows in a variety of scenarios.
            My role in this project has been to produce modern and professional Web based portals for users to interact with Worx.
          </p>
          <p>
            Producing 2 portals that provide data and actions that user can perform, for Clients and Suppliers.
            These portals have been built using <b>Angular</b> and an API that was built by another Development team to connect with the Worx application.
          </p>
          <p>
            Developement on Worx as allowed me to work with a <b>large professional team</b> of front-end developers, back-end developers, application developers and QA.
          </p>
          <p>
            The Worx portals are still <b>in-developement</b>.
          </p>
        </app-project>
      </div>

    </section>

    <section class="skills-container" #skills>

    </section>

    <section class="about-container" #about>

    </section>

  </main>

</div>

