/* technologies */
.tech-icon-container {
  margin-right: 1rem;
}
.tech-icon-link {
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 100;
  transition: all var(--animation_time) ease;
}
  .tech-icon-link:hover {
    color: var(--color_secondary);
  }
    .tech-icon-link:hover .tech-icon {
      filter: grayscale(0%);
    }
  .tech-icon-link:active {
    color: var(--color_active);
  }
.tech-icon {
  width: 2rem;
  height: 2rem;
  filter: grayscale(90%);
  transition: all var(--animation_time) ease;
}
.tech-text {
  margin-left: 0.5rem;
}
