<div class="about">

  <h2 class="title large">About</h2>

  <div class="description-container">

    <p>
      I am a front end web developer, with a focus in <b>Angular</b>.
    </p>
    <p>
      Coding is my job and passion. I'm in for the grind.
      The slow and sometimes frustrating grind of improvement,
      that brings so much satisfaction when it pays off.
    </p>
    <p>
      I'm currently employed by Alpha CRC as an in-house Web Developer but <b>I am actively looking for new endevors
      and projects</b> I can work on.
    </p>
    <p>
      If you interested in hiring me please <!--<b>contact me below</b> or--> message through <a href="https://my.indeed.com/p/williamv-v12qdz8" target="_blank">Indeed</a>.
    </p>

  </div>

</div>
