<div class="project">

  <div class="header-container">
    <a class="project-link title medium"
      *ngIf="projectUrl; else projectTitle"
      [href]="projectUrl">
      {{ title }}
    </a>

    <div class="technologies-container">

      <app-technology-link *ngFor="let tech of technologies"
        [technologyName]="tech">
      </app-technology-link>

    </div>
  </div>

  <div class="description-container">
    <ng-content></ng-content>
  </div>

  <div class="img-container">
    <img class="project-img" [src]="imagePath">
  </div>

</div>

<ng-template #projectTitle>
  <h3 class="title medium">{{ title }}</h3>
</ng-template>
