/* project */
.project {
  max-width: 992px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.8);
}

.header-container { grid-area: header }
.description-container { grid-area: desc }
.img-container { grid-area: img }

/* title */
.title {
  font-weight: 100;
  color: var(--color);
}

/* project link */
.project-link {
  color: var(--color);
  transition: all var(--animation_time) ease;
}
  .project-link:hover {
    color: var(--color_secondary);
  }
  .project-link:active {
    color: var(--color_active);
  }

/* description */
.description-container {
  padding-right: 1rem;
}
::ng-deep .description-container p {
  text-align: justify;
  margin-bottom: 1rem;
}

/* project image */
.project-img {
  width: 100%;
  max-width: 600px;
}

/* technologies */
.technologies-container {
  display: flex;
  align-items: center;
}

/* Media queries */

/* Small */
@media only screen and (max-width: 688px) {
  .project {
    position: relative;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto auto;
    grid-template-areas:
      "header"
      "desc"
      "img";
  }

  .title.medium {
    font-size: 2rem;
  }

  .description-container {
    margin-bottom: 1rem;
  }
}

/* Large */
@media only screen and (min-width: 688px) {
  .project {
    width: 100%;
    max-height: calc(100vh - 3rem);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem auto;
    grid-template-areas:
      "header img"
      "desc img";
  }

  .title.medium {
    font-size: 3rem;
  }
}

/* larger */
@media only screen and (min-width: calc(992px + 3rem)) {
  .project {
    min-width: 992px;
  }
}
