<div class="portfolio container">

  <nav>
    <drk-navbar
      (scroll)="scroll($event)">
    </drk-navbar>
  </nav>

  <main>

    <section class="landing-container" #top>
      <img class="landing-background" src="assets/img/hero.png">
      <app-landing></app-landing>
    </section>

    <section class="projects-container" #projects>

      <div class="project">
        <app-project
          title="LTC Worx"
          projectUrl="https://ltcworx.com/wp/team/"
          imagePath="assets/img/worx_screenshot.png"
          [technologies]="[ 'angular', 'material', 'redux' ]">
          <p>
            Worx is a Business to Business <b>Project managment application</b>, providing a unique way of managing workflows in a variety of scenarios.
            My role in this project has been to produce modern and professional Web based portals for users to interact with Worx.
          </p>
          <p>
            Producing 2 portals that provide data and actions that user can perform, for Clients and Suppliers.
            These portals have been built using <b>Angular</b> and an API that was built by another Development team to connect with the Worx application.
          </p>
          <p>
            Developement on Worx as allowed me to work with a <b>large professional team</b> of front-end developers, back-end developers, application developers and QA.
          </p>
          <p>
            The Worx portals are still <b>in-developement</b>.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="AlphaCRC"
          projectUrl="https://www.alphacrc.com/"
          imagePath="assets/img/alphacrc_screenshot.png"
          [technologies]="[ 'wordpress', 'elementor' ]">
          <p>
            AlphaCRC.com is the company website of Alpha CRC, made using <b>wordpress</b> and <b>elementor</b>. The website shows off the current state of Alpha and provides links to
            a large amount of resources produced by Alpha.
          </p>
          <p>
            The website was made to <b>allow Alpha's marketing team to constantly produce new content</b> and be able to put that new content up as easy and quick as possible.
          </p>
          <p>
            <b>Developed with a large team</b>, including myself in a small wordpress developer group, freelance design, a large team dedicated to specification and ideas and QA.
          </p>
          <p>
            <b>AlphaCRC.com was completed in the first half of 2020</b> and is now online for the public to see.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="JandJLandscapes"
          projectUrl="https://www.jandjlandscapes.co.uk/"
          imagePath="assets/img/jandj_screenshot.png"
          [technologies]="[ 'wordpress', 'elementor' ]">
          <p>
            JandJLandscapes.co.uk is a small company website, made using <b>wordpress</b> and <b>elementor</b>. The website was built for my brothers landscape gardening business.
          </p>
          <p>
            The website was <b>built entirely solo</b>, including <b>acquiring a domain</b>, domain upkeep and hosting and then developing the website.
          </p>
        </app-project>
      </div>

      <div class="project">
        <app-project
          title="ng-tilt-container"
          projectUrl="https://www.npmjs.com/package/ng-tilt-container"
          imagePath="assets/img/ngtilt.gif"
          [technologies]="[ 'angular' ]">
          <p>
            ng-tilt-container is an <b>Angular2+ package</b> available through npm, that allows the use of a pre-built component that provides a <b>3D tilt animation</b>.
          </p>
          <p>
            The package is <b>available to use right now</b>, just go to the npm and read the small amount of documatation present on the readme.
          </p>
        </app-project>
      </div>

    </section>

    <section class="skills-container" #skills>
      <app-skills></app-skills>
    </section>

    <section class="about-container" #about>
      <app-about></app-about>
    </section>

    <section class="contact-container" #contact>
      <app-contact></app-contact>
    </section>

    <section class="footer-container">
      <app-footer></app-footer>
    </section>

  </main>

</div>

