/* contact */
.contact {
  width: 100%;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* titles */
.title {
  font-weight: 100;
}

.form-container {
  width: 100%;
  margin-bottom: 3rem;
}

/* Media queries */

/* Small */
@media only screen and (max-width: 688px) {
  .contact {
    width: 100%;
    padding: 0 0.5rem;
  }

  .title.large {
    font-size: 3rem;
  }
}

/* Large */
@media only screen and (min-width: 688px) {
  .contact {
    padding: 0 1rem;
  }

  .title.large {
    font-size: 4rem;
  }

}

/* larger */
@media only screen and (min-width: calc(992px + 3rem)) {
  .contact {
    min-width: 992px;
  }
}
