<div class="contact">

  <div class="form-container" [ngStyle]="{ visibility: (formInProgress$ | async) ? 'visible' : 'hidden'}">
    <h2 class="title large">Contact</h2>
    <app-contact-form></app-contact-form>
  </div>

  <!-- Form successful message -->
  <div class="confirmation-container" *ngIf="formSuccessful$ | async" @fade>
    <div class="icon confirm">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img">
        <path
          fill="currentColor"
          d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-5.541 8.409l-1.422-1.409-7.021 7.183-3.08-2.937-1.395 1.435 4.5 4.319 8.418-8.591z"/>
      </svg>
    </div>

    <h3 class="title small">Your message has been sent! I'll respond as soon as I can.</h3>

    <button class="button" (click)="resetForm()">Send another message</button>
  </div>

  <!-- Form error message -->
  <div class="confirmation-container" *ngIf="formFailed$ | async" @fade>
    <div class="icon error">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img">
        <path
          fill="currentColor"
          d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-6 16.538l-4.592-4.548 4.546-4.587-1.416-1.403-4.545 4.589-4.588-4.543-1.405 1.405 4.593 4.552-4.547 4.592 1.405 1.405 4.555-4.596 4.591 4.55 1.403-1.416z"/>
      </svg>
    </div>

    <h3 class="title small" *ngIf="(formFailed$ | async).status === 400">There was an error with your message. Please try again.</h3>
    <h3 class="title small" *ngIf="(formFailed$ | async).status === 500">There was a server error. Please try again.</h3>

    <button class="button" (click)="resetForm()">Send a new message</button>
  </div>

</div>
