<div class="contact">

  <h2 class="title large">Contact</h2>

  <div class="form-container">
    <app-contact-form></app-contact-form>
  </div>

  <div class="confirm-container" *ngIf="formComplete$ | async">
    <h3>Your message has been sent! I'll respond as soon as I can.</h3>
    <button class="button" (click)="resetForm()">Send another message!</button>
  </div>

  <div class="error-container" *ngIf="formFailed$ | async">
    <h3>There was an error with your message. Please try again.</h3>
    <button class="button" (click)="resetForm()">Send a new message!</button>
  </div>

</div>
