<div class="skills">

  <h2 class="title large">Languages</h2>

  <div class="technologies-container">

    <div class="technology" *ngFor="let tech of languages">
      <app-technology-link [technologyName]="tech"></app-technology-link>
    </div>

  </div>

  <h2 class="title large">Libraries</h2>

  <div class="technologies-container">

    <div class="technology" *ngFor="let tech of libraries">
      <app-technology-link [technologyName]="tech"></app-technology-link>
    </div>

  </div>

  <h2 class="title large">Technologies</h2>

  <div class="technologies-container">

    <div class="technology" *ngFor="let tech of technologies">
      <app-technology-link [technologyName]="tech"></app-technology-link>
    </div>

  </div>

</div>
