/* landing */
.skills {
  width: 100%;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
  .skills * + .skills * {
    margin-top: 2rem;
  }

/* titles */
.title {
  font-weight: 100;
}

/* technologies */
.technologies-container {
  display: flex;
  align-items: center;
}


/* Media queries */

/* Small */
@media only screen and (max-width: 688px) {
  .skills {
    padding: 0 0.5rem;
  }

  .title.medium {
    font-size: 2rem;
  }
}

/* Large */
@media only screen and (min-width: 688px) {
  .skills {
    padding: 0 1rem;
  }

  .title.medium {
    font-size: 2rem;
  }
}
