<div class="landing">

  <h2 class="title large">William Vandepeer</h2>
  <h1 class="title max">Front End Web Developer</h1>

  <div class="links-container">

    <div class="link-container">
      <a class="link" href="https://github.com/WillV1243?tab=repositories" target="_blank">
        <img class="link-icon" src="assets/img/github_logo.png">
        <p class="link-text">Github</p>
      </a>
    </div>

    <div class="link-container">
      <a class="link" href="https://www.npmjs.com/~willv1243" target="_blank">
        <img class="link-icon" src="assets/img/npm_logo.png">
        <p class="link-text">npm</p>
      </a>
    </div>

    <div class="link-container">
      <a class="link" href="https://www.linkedin.com/in/william-vandepeer-9b173b176/" target="_blank">
        <img class="link-icon" src="assets/img/linkedin_logo.png">
        <p class="link-text">Linkedin</p>
      </a>
    </div>

    <div class="link-container">
      <a class="link" href="https://my.indeed.com/p/williamv-v12qdz8" target="_blank">
        <img class="link-icon" src="assets/img/indeed_logo.png">
        <p class="link-text">CV</p>
      </a>
    </div>

  </div>

</div>
