<div class="hero-links">

  <a class="link"
    href="https://github.com/WillV1243/Workspace"
    target="_blank"
    (mouseenter)="github = true"
    (mouseleave)="github = false">
    <i class="fab fa-github icon"></i>
    <p class="link-text"
      @heroTextShowHide
      *ngIf="github">
      GitHub
    </p>
  </a>

  <a class="link"
    href="https://www.linkedin.com/in/william-vandepeer-9b173b176/"
    target="_blank"
    (mouseenter)="linkedin = true"
    (mouseleave)="linkedin = false">
    <i class="fab fa-linkedin icon"></i>
    <p class="link-text"
      @heroTextShowHide
      *ngIf="linkedin">
      LinkedIn
    </p>
  </a>

  <a class="link"
    href="https://my.indeed.com/p/williamv-v12qdz8"
    target="_blank"
    (mouseenter)="cv = true"
    (mouseleave)="cv = false">
    <i class="fa fa-file-alt icon"></i>
    <p class="link-text"
      @heroTextShowHide
      *ngIf="cv">
      CV
    </p>
  </a>

</div>
