/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
  color: rgb(54, 66, 63);
}

/* global classes */
.container {
  width: 100%;
  height: 100%;
}
.flex-spacer {
  flex-grow: 1;
}
