/* contact form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* input containers */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* inputs */
input, textarea, button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 300;
  font-size: 1rem;
  color: var(--color);
  background: var(--background_lighter);
  transition: border var(--animation_time) ease;
}
.input {
  width: 100%;
  padding: 0.5rem;
}
  .input:focus  {
    border: 1px solid var(--color_dark);
  }
.textarea {
  width: 100%;
  height: 16rem;
  padding: 0.5rem;
  resize: none;
}
  .textarea:focus {
    border: 1px solid var(--color_dark);
  }

/* button */
.button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.5rem;
  transition: all var(--animation_time) ease;
  cursor: pointer;
}
  .button:hover {
    color: var(--color_secondary);
  }
  .button:active {
    color: var(--color_active);
  }
  .button:disabled, .button:disabled:hover, .button:disabled:active {
    background: var(--background_disabled);
    color: var(--color_dark);
    cursor: default;
  }

/* labels */
.label {
  font-weight: 100;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

/* errors */
.error-container {
  position: relative;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}
.error {
  position: absolute;
  right: 0;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--color_warn);
}



