/* page */
.worx {
  overflow-y: auto;
  overflow-x: hidden;
}
.page-spacer {
  width: calc(100% - 4rem);
  margin: 2rem;
  border-bottom: 2px solid rgba(127, 124, 175, 0.4);
}

/* back btn */
.back-container {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  height: 100%;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none; 
  color: rgb(54, 66, 63);
  cursor: pointer;
}
.link-text {
  text-decoration: underline;
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.icon {
  font-size: 2rem;
}

/* header section */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 120px;
}
.tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.list {
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-item {
  font-size: 1rem;
  padding-right: 0.2rem;
  border-right: 1px solid rgb(127, 124, 175);
  margin-right: 0.2rem;
}
  .list-item:last-child {
    border: none;
  }

/* footer section */
.footer {
  width: 100%;
  height: 160px;
}

/* sections */
.section {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  position: relative;
  min-width: 220px;
  max-width: 420px;
  height: 70%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.description {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.screenshot-container {
  position: relative;
  width: 800px;
  height: 400px;
}
.screenshot {
  position: absolute;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

/* design section */
.design {
  background-color: rgb(127, 124, 175);
  color: rgb(255, 255, 255);
}
.shot0 {
  top: 0px;
  left: 100px;
  width: 600px;
  z-index: 100;
}
.shot1 {
  top: 100px;
  left: 0px;
  height: 300px;
  z-index: 120;
}
.shot2 {
  top: 40px;
  right: 0px;
  width: 300px;
  z-index: 120;
}

/* dashboard section */
.shot3 {
  width: 100%;
  z-index: 120;
}

/* wizard section */
.wizard { 
  background-color: rgb(108, 190, 141);
  color: rgb(255, 255, 255);
}
.shot4 {
  width: 600px;
  left: 100px;
  z-index: 100;
}
.shot5 {
  top: 160px;
  left: 0px;
  width: 250px;
  z-index: 120;
}
.shot6 {
  top: 250px;
  left: 270px;
  height: 150px;
  z-index: 120;
}
.shot7 {
  top: 120px;
  left: 550px;
  width: 250px;
  z-index: 120;
}

/* widgets section */
.shot8 {
  top: 50px;
  width: 600px;
  z-index: 100;
}
.shot9 {
  top: 0px;
  left: 500px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 120;
}

/* localization section */
.local {
  background-color: rgba(54, 66, 63, 0.6);
  color: rgb(255, 255, 255);
}
.shot10 {
  top: 50px;
  height: 200px;
  z-index: 120;
}
.shot11 {
  top: 0px;
  right: 0px;
  height: 400px;
  z-index: 100;
}
